SERVER_ID=example-remote
SOURCE_ROLE=generic-remote
SOURCE_MODE=ssh_pull
HOOK_SCRIPT=hooks/pre_remote_generic.sh
BACKUP_ENABLED=true
BACKUP_CRON="10 2 * * *"
DISK_CHECK_ENABLED=true
DISK_CHECK_CRON="*/30 * * * *"
DISK_THRESHOLD_PCT=85
DISK_ALERT_TARGETS="/ /var/lib/docker"
RESOURCE_CHECK_ENABLED=false
RESOURCE_CHECK_CRON="*/10 * * * *"
CPU_THRESHOLD_PCT=90
RAM_THRESHOLD_PCT=90
RESTORE_REQUIRED_APT_PACKAGES="docker.io docker-compose-v2"
RESTORE_SYSTEMD_SERVICES="docker"
COMPOSE_PROJECT_PATHS=""
K8S_MANIFEST_PATHS=""
DOCKER_CHECK_ENABLED=false
DOCKER_CHECK_CRON="*/5 * * * *"
DOCKER_ALERT_CONTAINERS=""
K8S_CHECK_ENABLED=false
K8S_CHECK_CRON="*/5 * * * *"
K8S_NAMESPACE_TARGETS=""
RETENTION_DAILY=7
RETENTION_WEEKLY=4
RETENTION_MONTHLY=6
REMOTE_HOST=10.0.0.10
REMOTE_PORT=22
REMOTE_USER=root
REMOTE_SSH_KEY=/root/.ssh/example_remote_backup_ed25519
REMOTE_PATHS="/etc /var/www /srv/apps"
REMOTE_PATHS_OPTIONAL="/etc/nginx /etc/caddy /etc/letsencrypt"
REMOTE_SYSTEM_EXPORT=true
REMOTE_DOCKER_EXPORT=true
REMOTE_DOCKER_VOLUMES="app_data mysql_data"
REMOTE_PRE_DUMP_COMMANDS="/usr/local/sbin/backup-pre-dump.sh"
REMOTE_POSTGRES_DUMPS=""
REMOTE_MYSQL_DUMPS=""
REMOTE_MONGO_DUMPS=""
