SERVER_ID=rpi-house
SOURCE_ROLE=infra-local
SOURCE_MODE=local
HOOK_SCRIPT=hooks/pre_local_rpi.sh
BACKUP_ENABLED=true
BACKUP_CRON="10 2 * * *"
DISK_CHECK_ENABLED=true
DISK_CHECK_CRON="*/20 * * * *"
DISK_THRESHOLD_PCT=85
DISK_ALERT_TARGETS="/ /var/lib/docker"
RESOURCE_CHECK_ENABLED=false
RESOURCE_CHECK_CRON="*/10 * * * *"
CPU_THRESHOLD_PCT=90
RAM_THRESHOLD_PCT=90
RESTORE_REQUIRED_APT_PACKAGES="docker.io docker-compose-v2 postgresql-client"
RESTORE_SYSTEMD_SERVICES="docker"
COMPOSE_PROJECT_PATHS=""
K8S_MANIFEST_PATHS=""
DOCKER_CHECK_ENABLED=false
DOCKER_CHECK_CRON="*/5 * * * *"
DOCKER_ALERT_CONTAINERS=""
K8S_CHECK_ENABLED=false
K8S_CHECK_CRON="*/5 * * * *"
K8S_NAMESPACE_TARGETS=""
RETENTION_DAILY=7
RETENTION_WEEKLY=4
RETENTION_MONTHLY=6
HOST_PATHS="/etc/dokploy /etc/ssh /home/daniel1rosso/.ssh /var/www"
HOST_PATHS_OPTIONAL="/etc/letsencrypt /etc/nginx /etc/caddy"
DOCKER_VOLUMES="dokploy internet-monitoring_grafana_data internet-monitoring_prometheus_data netdata_netdata-etc"
DOKPLOY_POSTGRES_CONTAINER=dokploy-postgres.1.15l7mqez54yllqf1fd29nifg3
DOKPLOY_POSTGRES_USER=dokploy
DOKPLOY_POSTGRES_DB=dokploy
SYSTEMD_EXPORT=true
DOCKER_EXPORT=true
UFW_EXPORT=true
LOCAL_POSTGRES_DUMPS="dokploy|dokploy-postgres.1.15l7mqez54yllqf1fd29nifg3|dokploy|dokploy"
LOCAL_MYSQL_DUMPS=""
LOCAL_MONGO_DUMPS=""
